@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

$text-color: #88ff63;
$link-color: #ffbb38;
$header-height: 24px;
$button-margin: 10px;
$terminal-max-width: 1000px;

body {
  margin: 0;
  padding: 0;
  background: rgb(200, 200, 200);
  color: $text-color;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
}

#wrapper {
  position: relative;
  height: 100vh;
  animation: show 1s ease;
}

#window {
  position: absolute;
  width: 80%;
  height: 80%;
}

#tarminal {
  padding: 16px;
  background: #282828;
  height: calc(100% - #{$header-height});
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  overflow: scroll;
}

#header {
  height: $header-height;
  background: rgb(87, 87, 87);
  z-index: 100;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);

  span {
    display: inline-block;
    width: calc(#{$header-height} - #{$button-margin});
    height: calc(#{$header-height} - #{$button-margin});
    margin: calc(#{$button-margin} / 2);
    border-radius: 50%;
  }

  span:nth-child(1) {
    background: rgb(255, 84, 84);
  }
  span:nth-child(2) {
    background: rgb(255, 192, 84);
  }
  span:nth-child(3) {
    background: rgb(175, 255, 84);
  }
}

#prompt {
  opacity: 0;
  position: absolute;
}

pre {
  display: inline;
  font-family: "Press Start 2P", cursive;
}

.command {
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
}

ul.list li {
  display: flex;
  padding: 2px;

  *:first-child {
    flex-basis: 20%;
  }
}

.whoami {
  display: flex;

  figure {
    max-width: 160px;
    max-height: 160px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  ul {
    display: flex;
    flex: 1;
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
  }
}

.ls {
  .directory {
    color: #48f;
  }

  .file {
    color: #eee;
  }

  li {
    flex-basis: 20%;
    padding: 2px;
  }

  ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
  }
}

a {
  text-decoration: none;
  color: $link-color;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 1020px) {
  #window {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #tarminal {
    height: calc(100% - #{$header-height});
  }
}

@media (max-width: 767px) {
  ul.list {
    li {
      flex-direction: column;
      margin: 1px;

      *:first-child:before {
        content: "- ";
      }
    }
  }

  .whoami {
    flex-direction: column;
    figure {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
